<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Common Snake Species</h2>

<table>
    <th><td>Common Name</td><td>Venemous</td><td>Length</td><td>Body Shape</td><td>Head Shape</td><td>Tail</td></th>
    <% results.forEach(function(r) { %>
        <tr><td><%= r.common_name %></td><td><%= r.venemous %></td><td><%= r.length %></td><td><%= r.body_shape %></td><td><%= r.head_shape %></td><td><%= r.tail_end %></td></tr>
    <% }); %>
</table>

</div>

</body>
</html>
