<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.common_name %> - <%= r.venemous %> - <%= r.length %> - <%= r.body_shape %> - <%= r.head_shape %> - <%= r.tail_end %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
